.bg-nav-color{
    background-color: #f9f4e0c7;
}
.ml-10{
    padding-left: 500px;

}
.font{
    font-size: 70px;
}
.orange{
    color: orange;
}
.img-width{
    width: 430px;
}
.mr-50{
    margin-right: 50px;
}
.pbottom-1{
    padding-bottom: 80px;
}
.img-h{
    height: 300px;

}